.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.FormApp{
  background-color:white;
  width:60%;
  border-radius:5px;
  

}

.FormApp h3{
  color:#800020;
  margin-top:5%;
}


.FormApp input{
  width:70%;
  padding:3%;
  margin-bottom: 5%;
  border:1.5px solid #800020;
  border-radius:5px;
  font-size:15pt;
  color: #800020;
}

#subbut{
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  width:50%;
  height:3em;
  font-size: 18pt;
  margin-left:-25%;
  margin-bottom: 5%;;

  
}

#in{
width:100%;
margin-left: 15%;
justify-content: center;
}
#in label{
  margin-left:-85%;
  color: #800020;
}
.process{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#nas{
  /* margin-top:-21.1%; */
  width:100%;
  margin-bottom:5%;
}

#nab{
  width:111.6%;
  margin-left:-6%;
}

.proad{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}


.proda{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#prodn{
  margin-left:30%;
}


.proces{
  display: flex;
  flex-direction: row;


}


.acco{
  margin-top:-11%;
  margin-left:90%;
  margin-bottom: 8%;;
}
.acco svg{
  width:2em;
  height:2em;
  color:white;
}
.acco button{
  background:none;
  color:white;
  border:none;
}


.accor{
  margin-top:1%;
  margin-left:75%;
  margin-bottom:3%;
}
.accor svg{
  width:2em;
  height:2em;
  color:white;
}
.accor button{
  background:none;
  color:white;
  border:none;
}

.naccor{
  margin-top:-48%;
  margin-left:75%;
  margin-bottom:2%;
  position:fixed;
}
.naccor svg{
  width:2em;
  height:2em;
  color:white;
}
.naccor button{
  background:none;
  color:white;
  border:none;
}
.accorr{
  margin-top:-4%;
  margin-left:80%;
  margin-bottom:3%;
}
.accorr svg{
  width:2em;
  height:2em;
  color:white;
}
.accorr button{
  background:none;
  color:white;
  border:none;
}

.accord{
  margin-top:-38%;
  margin-left:80%;
  margin-bottom: 3%;;
}
.accord svg{
  width:2em;
  height:2em;
  color:white;
}
.accord button{
  background:none;
  color:white;
  border:none;
}
.accors{
  margin-top:-5%;
  margin-left:80%;
  margin-bottom: 4%;;
}
.accors svg{
  width:2em;
  height:2em;
  color:white;
}
.accors button{
  background:none;
  color:white;
  border:none;
}
.proc{
  width: 100%;
  padding:5%;
}
#porder{
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  width:100%;
  font-size: 40pt;
  text-decoration:none;
  height:6em;
  margin-bottom:1%;

}

#imgs{
  width:8%;

}



.tablemap{
  background-color: #9A4258;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.waitermap{
  background-color: #9A4258;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.tableright{
  margin-left: 5%;
}


.tableleft{
  margin-top:-53%;
  margin-left:55%;
  width:40%;
}

.tableleft .map{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.tableleft .tablenum{
  width: 92%;
  padding:22%;
  background-color:#800020;
  color:white;
  border:1px solid white;
  border-radius:5px;
  font-size: 18pt;
  text-decoration:none;
}

.tableleft .maptab{
  width: 30%;
  margin-top: 18%;
}
.map{
  display: flex;
  flex-direction: row;
  width: 50%;
 
}

.wmap{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left:10%
 
}

.adm{
  /* display: flex;
  flex-direction: row; */
  width: 80%;
}
.maptab{
  width: 30%;
  margin-top: 15%;
}

.mapwait{
  width: 60%;
  margin-top: 30%;
}

.admen{
  /* width: 60%; */
  margin-bottom:8%;
}
#tablenum{
  width: 70%;
  background-color:#800020;
  color:white;
  border:1px solid white;
  border-radius:5px;
  font-size: 15pt;
  text-decoration:none;
  height:5em;
  margin-bottom:5%;
  position:relative;


}

#mapr{
  margin-top:10%;
}


.waitnum{
  width: 80%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  font-size: 18pt;
  text-decoration:none;

}

.menunum{
  width: 100%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  font-size: 18pt;
  text-decoration:none;

}


.menu{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  /* display:flex;
  flex-direction: row; */
}



.pmenu{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  /* display:flex;
  flex-direction: row; */
}
.midmenu{
  margin-left:-65%;
  margin-top:4%;
  width:200%;
  
}

.top{
  color:white;
  margin-top:-5%;
  position: fixed;
  margin-left:-6%;
}
#topp{
  color:white;
  margin-top:15%;
  position: fixed;
  margin-left:-2%;
}

.topc{
  color:white;
  margin-top:1%;
  position: fixed;
}
#ri{
  margin-top:50%;
}


.topmenu{
  width: 100%;
  display:flex;
  flex-direction: row;
  margin-top:5%;
}

.menuop{
  width: 48%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
}


.menuopt{
  width: 110%;
  height:8em;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  margin-right:5%;
  padding:10%;
  margin-bottom: 10%;
  margin-top:30%;
}
.menuoptc{
  width:100%;
  height:8em;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  margin-bottom: 5%;
  margin-right:7%;
  padding:1%;
 
}

.menuoptc.c{
  width:100%;
  height:8em;
  background-color:#642634;
  color:white;
  border:1px solid white;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  
 
}
.menuoptcn{
  width:35%;
  height:10em;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  margin-bottom: 5%;
  margin-right:6%;
  padding:4%;
 
}

.menuoptcn .imgm{
  border-radius: 50%;
  margin-top:-50%;
}
.colm{
  width: 100%;
}

.menuic{
  width:80%;
}
#menui{
  margin-top:32%;
  margin-left:-2%;
  width:160%;
  overflow-x: scroll;
  position: relative;

}
.menu_m{

  width:180%;
  position: relative;
  margin-top:5%;
}

#menuc{
  position: fixed;
  height:60em;
  margin-top:6%;
  width:58%;
  margin-left:1%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
}

#menuci{
  position: fixed;
  height:60em;
  margin-top:18%;
  width:90%;
  margin-left:-1%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  margin-bottom:15%;

}

#zmen{
  margin-top:6%;
  /* position: fixed; */
  height:50vh;
}
#rci{

  overflow-y: scroll;
  margin-top:5%;

}

/* #menucii{
  position: fixed;
  height:60em;
  margin-top:30%;
  width:90%;
  margin-left:-1%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
} */

.imgm{
  border-radius:10px;
  margin-top:5%;
  
}
.met{
  width: 25%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
}
.ordern{
  padding:10%;
  background-color:white;
  margin-left:6%;
  width:28%;
  height:100%;
  position:fixed;
}

.midorder{
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top:2%;
  
}


.midbar{
  align-items: center;
  justify-content: center;
  width:100%;

  
}

.order{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.topop .active{
  color:#6E011C;
}

.com{
  text-decoration:none;
  color:#C19BA4;
}

.topop{
  color:#C19BA4;
  margin-left:40%;
}

.topbar{
  background-color:white;
  text-align:center;
  color:#C19BA4;
  padding:1%;

}
.topbar .active{
  background-color:#6E011C;
  color:white;
  border-radius: 5px 0px 0px 5px;
  width:50%;
  margin-left:55%;
}

.topbar .com{
  background-color:#C19BA4;
  color:white;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 5px 0px 0px 5px;
  width:50%;
}
.topbar .sec{
 
  border-radius: 0px 5px 5px 0px;
}
.topbar .active.sec#rs{
 margin-left:-5%;
  
}
.topbar .com#act{
  margin-left:55%;
   
 }

 .topbar #logs{
   color:#800020;
   margin-left:95%;
   margin-top:-3%;
 }

#bhead{
  background-color:#800020;
  color:white;
  
}

.bhead h4{
  margin-top:2%;
  margin-left:2%;
 
}

.bhead h6{
  margin-left:70%;
  margin-top:-12%;
}
.orders{
  margin-left:4%;
  margin-top:2%;
  background-color:white;
  width:25%;
  color:#800020;
  border-radius: 5px;
}

.orders h4{
  font-weight: bold;
}

.orders h6{
  font-size: 10pt;
}

#cmen{
  width:100%;
}
#menit{
  background-color:#800020;
  font-size: 12pt;
  border-radius:8px;
  margin-left:1%;
  margin-right: 1%;
  color:white;
  height:2.5em;
  margin-bottom:1%;
  
}

#menit h6{
  margin-left:79%;
  margin-top:-6%;
}

#menit p{
  margin-left:90%;
  margin-top:-12%;
  font-size:10pt;
}

#menit .imgf{
  border-radius: 8px;
  margin-top:1%;
  margin-left:1%;
  width:20%;
  height: 2em;
}


#barit{
  background-color:#800020;
  font-size: 12pt;
  border-radius:10px;
  /* margin-right: 1%; */ 
  color:white;
  height:4em;
  width:100%;
  /* margin-top:3%;
  padding:0.5%;
  margin-bottom:10%; */
}

#barit h6{
  margin-top:5%;
  font-size:90%;
  margin-left:-25%;
}

#barit h4{
  margin-top:4%;
  font-size:15pt;
 float: right;
 margin-right:5%;
  
}

#barit .imgf{
  width:70%;
  height:3.5em;
  border-radius: 10px;
  margin-top:2%;
  margin-left:2%;
}

.optbar{
  margin-left:80%;
  margin-top:8%;
}

.optbar button{
  border:none;
  background:none;
}

#yes {
  background:#098413;
  border:none;
  float:right;
}

.optbar .no svg{
  fill: #CE1A1A;
}
.totod{
  background-color:#800020;
  color:white;
  border-radius:8px;
  border:none;
  font-size:12pt;
  margin-left:25%;
  margin-top:10%;
}



.bars{
  margin-left:2%;
  margin-top:2%;
  background-color:white;
  width:18%;
  color:#800020;
  border-radius:10px;

}

#bar{
  margin-top:3%;
}

#rbar{
  margin-bottom:2%;
  
}


.optbarc{
  margin-left:80%;
  margin-top:8%;
}

.optbarc button{
  border:none;
  background:none;
  
}

.optbarc .yes svg{
  fill: #069337;
}



.pstore{
  width: 100%;
  padding:5%;
  background: none;
}
.pstall{
  color:#800020;
  border:none;
  border-radius:5px;
  width:100%;
  font-size: 45pt;
  padding:25%;
  text-decoration:none;
  background: none;
}

.pstall svg{
  width:3em;
  height:3em;

}


.pstallc{
  color:#800020;
  border:none;
  background: none;
}




.pstall h5{
  color:white;
  font-size:20pt;
}

.itable{
  width:80%;
}
.itables{
  width:100%;
  background-color: white;
  font-size:16pt;
}
.itabless{
  width:100%;
  font-size:16pt;
}
.itabless td{
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #800020;
}
th{
  color: white;
  background-color:#800020;
}


.itables .b1{
  background:#FFDA77;
  color:white;
  border:none;
  border-radius:8px;
  
}

.b1{
  background:orange;
  color:white;
  border:none;
  border-radius:5px;
  margin-left:2%;
  width:48%;
}
.b1 a{
  color:white;
  text-decoration:none;
}
.b2 a{
  color:white;
  text-decoration:none;
}
#backh{
  width:10%;
  background-color:#800020;
  border:none;
  margin-bottom: 2%;
}
#searchb{
  background-color: #800020;
  border:none;
  width:40%;

}
#forminv input{
  width:100%;
}
#forminv{
  margin-left:-1%;
}
#addnew{
  width:30%;
  padding:1%;
  background-color:#800020;
  border:none;
  margin-bottom: 2%;
}
.itables .b2{
  background:#098413;
  color:white;
  border:none;
  border-radius:8px;
  margin-left:2%;
}

.b2{
  background:#098413;
  color:white;
  border:none;
  border-radius:5px;

  width:48%;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  
}

table {
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12pt;
}

th{
  font-size: 15pt;
}



form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}


.optprod{
  margin-left: -52%;
  margin-bottom: 2%;
  font-size:18pt;
}

.optprod button{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
}

.noptprod{
  margin-top:25%;
  font-size:18pt;

}
#ret{
  margin-left:15%;
}




.noptprod button{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
}
.optprods{
  margin-left: -65%;
  margin-bottom: 2%;
  font-size:18pt;
}

.optprods button{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
}

.o1{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
  margin-top:5%;
  margin-left:10%;

}
#mt{
  margin-left:10%;
}
.o1.ac{
  background-color:#800020;
  border:1px solid white;
  color: white;
}

#mtt .o1{
  margin-top:-5%;
}
#mtt{
  margin-left:5%;
}




#menutab .dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  padding: 4px;
  color:#800020;
  background-color:white;
}



.dataTables_length label{
  color:white;
}

.dataTables_wrapper .dataTables_info {
  color:white;
}




#menutab .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
  color:#6E011C;

}


#menutab .dataTables_wrapper .dataTables_paginate .paginate_button{
  color:#6E011C;
}

#menutab .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  color:white;
}


#menutab .dataTables_wrapper .dataTables_paginate .paginate_button{
  color:white;
}
.searchbar{
  border: 2px solid #800020;
  color: #800020;
  border-radius:5px;
  margin-left:67%;

}
.searchbars{
  border: 2px solid #800020;
  color: #800020;
  border-radius:5px;
  margin-left:67%;
  margin-top:5%;

}
#menur{
  margin-left:18%;

}
#menurr{
  margin-left:18%;
}
.pmenutab{
  width:90%;
}



#menutab{
  width:90%;
  overflow-y:scroll;
}

.menutab{
  margin-top:5%;
}

#menutab .dataTable .no-footer{
  width:90%;
  border-radius: 5%;
}

#menutab .dataTables_wrapper .dataTables_info{
  color:white;
}

#menutab .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background:#800020;
  color:white;
  border:none;
}

#menutab .dataTables_wrapper .dataTables_paginate .paginate_button .disabled{
  color:white;
}

.addmenu{
  border: 2px solid #800020;
  border-radius: 5px;
  background-color:white;
  color:#800020;
  margin-top:1%;

}

.addm{
  background: white;
  border:2px solid #800020;
  border-radius: 5px;
  width:70%;
  margin-top:3%;
  color:#800020;
  padding:8%;
}
.addm h3{
  text-align:center;
  margin-top:-10%;
}

.addm input,.addm select{
  border:1px solid #800020;
  border-radius: 5px;
  width:95%;
  color:#800020;
  margin-bottom:4%;

}
.addm form{
  margin-top:5%;
  width:110%;
  margin-left:-5%;
  font-size:18pt;
}

.addm button{
  width:35%;
  margin-top:5%;
  text-align:center;
  margin-left:32%;
  border:1px solid #800020;
  border-radius: 5px;
  background-color: #800020;
  color: white;
  padding:1%;
}

.back{
  margin-left:-15%;

}
.back button{
  color:#800020;
  background-color:white;
  border:2px solid #800020;
  border-radius: 5px;
  margin-left:-410%;
}



#pback {
  color:#800020;
  background-color:white;
  border:2px solid #800020;
  border-radius: 5px;
  margin-left:-20%;
  margin-top:5%;

}

.addm{
  background: white;
  border:2px solid #800020;
  border-radius: 5px;
  width:70%;
  margin-top:3%;
  color:#800020;
  padding:8%;
}
.addm h3{
  text-align:center;
  margin-top:-10%;
}

.addm input,.addm select{
  border:1px solid #800020;
  border-radius: 5px;
  width:95%;
  color:#800020;
  margin-bottom:4%;

}
.addm form{
  margin-top:5%;
  width:110%;
  margin-left:-5%;
  font-size:18pt;
}

.addm button{
  width:35%;
  margin-top:5%;
  text-align:center;
  margin-left:32%;
  border:1px solid #800020;
  border-radius: 5px;
  background-color: #800020;
  color: white;
  padding:1%;
}



.addi{
  background: white;
  border:2px solid #800020;
  border-radius: 5px;
  width:70%;
  margin-top:3%;
  color:#800020;
  padding:6%;
}
.addi h3{
  text-align:center;
  margin-top:-8%;
}

.addi input,.addi select{
  border:1px solid #800020;
  border-radius: 5px;
  width:95%;
  color:#800020;
  margin-bottom:4%;

}
.addi #stock{

  width:98%;

}
.addi form{
  margin-top:5%;
  width:110%;
  margin-left:-5%;
  font-size:18pt;
}

.addi button{
  width:35%;
  margin-top:5%;
  text-align:center;
  margin-left:32%;
  border:1px solid #800020;
  border-radius: 5px;
  background-color: #800020;
  color: white;
  padding:1%;
}

#invtt{
  width:120%;
}
#invtr{
  margin-left: 15%;
  width:100%;
}
.addi.c{
  width:70%;
  padding: 5%;
}

.addi.c h3{
  margin-top: 2%;
}
.addi img{
  border-radius: 60%;
  width:5em;
  height:5em;
  text-align:center;
  margin-left:40%;
  border:1px solid #800020;

}

.addm.c{
  width:50%;
  margin-top:2%;
}
.addm.c h3{
  margin-top:2%;
}
.addm.c .table th{
  color:#800020;
}

#dinv{
  width:70%;
  background-color:#800020;
  border:none;
}
.addm img{
  border-radius: 60%;
  width:5em;
  height:5em;
  text-align:center;
  margin-left:39%;
  border:1px solid #800020;
  margin-top:-8%;
}

.accorr.c{
  margin-top:1%;
}
.accor.c{
  margin-top:1%;
}

.menus{
  margin-left:-47%;
}
.menus img{
  border-radius: 25%;
  float:left;
  width:25%;
  height:95%;
  margin-top:-2%;
  margin-left:-6%;
}

.menus button{
  width:77%;
  height:2.8em;
  margin-left:27.5%;
}

.menus #product{
  margin-left:-217%;
}

.menus #number{
  margin-left:90%;
  margin-top:-11%;
}
.menus #price{
  margin-left:75%;

}

.dt #time{
 margin-left:88%;
}

.dt #date{
  margin-left:-20%;
}

.dt{
  margin-top:-8%;
}

.head{
  background-color:#800020;
  color:white;
  width:50%;
  margin-bottom:-3%;
  border-radius:5px;
}


.menus #paym,.menus input{
  color:#800020;
  margin-left:-89%;
  margin-top:2%;
}


.notifs{
  background-color: white;
  border-radius: 10px;
  width: 40%;

}
#nt{
  margin-top:5%;
}


#salert{
  width:90%;
  margin-bottom:2%;
}

#salert .card-header button{
  background: none;
  border: none;
}
#salert .card-header button svg{
  color:#800020;
}

#salert .card-header{
  border: none;
  color:orange
}
#anotif{
  margin-left:-85%;
}

.snotif button{
  background: none;
  border: none;

}

#tnotif{
  background-color: rgb(179, 120, 11);
  border-radius: 5px;
  margin-top:1%;
  color:white;
  width:30%;
}


#dnotif{
  margin-left: 55%;
  margin-top:1%;
}


#totalb {
  background:#800020;
  border-radius:8px;
  border:none;
  color:white;
  font-weight:bold;
  font-size: 15pt;
  width:100%;

}

.pmode{
  margin-top:10%;
}


.pmode label{
  font-size: 12pt;
}

.customerdet{
  margin-top:-200%;
  text-align: center;
  margin-left: -110%;
  color:#800020;
}

#dpe{
  widows: 250%;
}

.customerdet #order{
  margin-left:-10%;
}
.customerdet #waiter, .customerdet #tb,.customerdet #num {
  margin-top:-5%;
  margin-left:8.5%;
}

.pmode{
  /* margin-left:%; */
  color:#800020;
  width:50%;
  position:fixed;

}

.menuitem{
  width:105%;
}
.menuitem.c button{
  background:#800020;
  border-radius:8px;
  border:none;
  color:white;
  margin-left:20%;
  width:55%;
  text-align:center;

}
#invt{
  justify-content:center;
  align-items:center;
  margin-left:22%;
  width:65%;
  margin-top:2%;
  min-height: 100vh;
  color:white;
}
#invtb{
  border-radius: 10px;
  border-color:#800020;
  margin-top:2%;
}
#invtb thead{
  background-color: #800020;
  }

  #invtb tbody{
    background-color:white;
  }
.menuitem button{
  background:none;
  border-radius:8px;
  border:none;
  color:#BEBBBB;
  margin-left:20%;
  width:50%;
  margin-bottom:10%;
  margin-top:30%;
}


#pcon{
  width:20%;
  margin-top:30%;
  margin-left:-12%;
}

#pay{
width:155%;
}

.sb{
  margin-left: -25%;
  border-radius:8px;
  
}
.mainsb{
  margin-left: -45%;
  border-radius:8px;
  width:50%;
  border:none;
  
}
.maintop{
  margin-left:-1%;
  position: fixed;
  margin-bottom:2%
}

#menuselect{
  margin-left:-2%;
  margin-top:40%;
 
}
.select{
  margin-left:-2%;

}
#select{
  margin-top:16%;
  position: fixed;
}

#menuoption{
  width:9rem;
  background:#800020;
  border-radius:10px;
  margin-right:2%;
}

#menuoptionac{
  width:9rem;
  background:#642634;
  border-radius:10px;
  border:1px solid white;
  margin-right:2%;
}
#menuoptionac img{
  border-radius:10px;
  margin-top:2%;
}
#menuoption img{
  border-radius:10px;
  margin-top:2%;
}

#orderform{
  margin-left:10%;
  background:white;
  width:32%;
  height: 100vh;
  position: fixed;

}

#orderform .card-title,#orderform .card-subtitle{
  text-align: center;
  color:#800020;
}
#cancel{
  float: right;
  font-size: 12pt;
  text-decoration: none;
  color:#800020;
}

#aler{
  width:50%;
  margin-left: 11%;
}
.orderm{

 height:15em;
 position: fixed;
 overflow-y: scroll;
}

#added{
  color: #800020;
  text-decoration: none;
}
.ords{
  margin-bottom:1%;
}
.ords #prod{
  background-color: #800020;
  border-radius:5px;
  border:none;
  width:28%;
  color:white;
  margin-left:0.2%;
}

#prod h6{
  margin-top:10%;

}

.ords input{
  width:12%;
  font-size:12pt;

}


#inf{
  margin-left:22%;
  margin-top:-8%;

}
#inf button{
  color:white;
}

.ords .imgf{
  border-radius: 8px;
  margin-left:-2%;
border:1px solid #800020;
margin-top:2%;

}

/* #orin{
  margin-left:70%;
} */

#mname{
  margin-left:-55%;
  font-size: 12pt;
  margin-top:2%;
  /* text-align:justify; */

}
#mp{
  margin-left:-10%;
}

.ords #del{
  background: none;
  border:none;
  float: right;
  color:white;

 
}

#orderform .card-footer{
  color:#800020;
  background: none;
}

#date{
  margin-left:-150%;
}

#pd{
  margin-left:68%;
  margin-top:-5%;
}


#roptp{
  margin-top:-5%;
}
.optp{
  background-color:white;
  color:#800020;
  padding: 1%;

  
}
.optp h5{
  margin-top:12%;
  margin-left:-27%;
}

.optp h1{
  margin-top:5%;
}

#cash{
  margin-left:50%;
  margin-top:0.2%;
}
#cash img{
  border:2px solid #800020;
  border-radius: 50%;
}
#cash h4{
  margin-left: 25%;
  margin-top:-19%;

}

#menuit{
  overflow-y: scroll;
}


.logotext a{
  columns: #800020;
}


#value{
  text-decoration: none;
  margin-top: -20%;
}

#menuname{
  margin-top:2%;
  font-size:10pt;

}

.rorder{
  display:flex;
  flex-direction:row;

}

#ror{
  width:100%;
  overflow-y: scroll;
  margin-left:8%;
}
#cmen .card-header{
  color:#800020;
  background: none;
}
#cmen .btn-primary{
  background-color: #800020;
  border:none;
  width:100%;

}

#mainmenu{
  margin-left: 15%;
  /* position: fixed; */
  margin-top:2%;
  color:white;
}

.mainmenu{
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}