.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #B2A9A3; */
  background-color:#f5e9eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.FormApp{
  background-color:white;
  width:60%;
  border-radius:5px;
  border:1px solid #dda702;
  

}

.FormApp h3{
  color:#550015;
  margin-top:5%;
}


.FormApp input{
  width:70%;
  padding:3%;
  margin-bottom: 5%;
  border:1.5px solid#dda702;
  border-radius:5px;
  font-size:15pt;
  color: #550015;
}

#subbut{
  background-color:#550015;
  color:white;
  border:none;
  border-radius:5px;
  width:50%;
  height:3em;
  font-size: 18pt;
  margin-left:-25%;
  margin-bottom: 5%;;

  
}

#in{
width:100%;
margin-left: 15%;
justify-content: center;
}
#in label{
  margin-left:-85%;
  color: #550015;
}
.process{
  background-color: #F7EFE9;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#nas{
  /* margin-top:-21.1%; */
  width:100%;
  margin-bottom:5%;
}

#nab{
  width:111.6%;
  margin-left:-6%;
  height:2.2em;
  background: #E07418;
  color:white;
}

#nab a{
  color:white
}

#nabc{
  width:54%;
  height:2.2em;
  background: #E07418;
  color:white;
}

#nabc a{
  color:white
}
#cashier #opc{
  height:25em;
  width:50%;
  background:white;
  border-radius:5px;
  color:#550015;
  border:0.1px solid #a1a1a1;

}


#cashier #odc{
  margin-left:3%;
}

.sidenav{
  background-color:white;
  min-height: 100vh;
  color:#800020;
  width:18rem;

}

.sidenav ul{
  list-style: none;
}



.sidenav .sidenav-menu .sidenav-item button{
  color:rgb(180, 179, 179);
  font-size: 12pt;
  width:15rem;
  text-align: left;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.sidenav .sidenav-menu .sidenav-item.active button{
  color:white;
  background-color:#800020;
}
.sidenav .logout{
  margin-top:28%;
  text-align: center;
  position:fixed;
}

.proad{
  background-color: #f5e9eb;

  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: row;
}


.proda{
  background-color: #f5e9eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
#prodn{
  margin-left:30%;
}


.proces{
  display: flex;
  flex-direction: row;


}


.acco{
  margin-top:-11%;
  margin-left:90%;
  margin-bottom: 8%;;
}
.acco svg{
  width:2em;
  height:2em;
  color:#800020;
}
.acco button{
  background:none;
  color:#800020;
  border:none;
}


.accor{
  margin-top:1%;
  margin-left:75%;
  margin-bottom:3%;
}
.accor svg{
  width:2em;
  height:2em;
  color:white;
}
.accor button{
  background:none;
  color:white;
  border:none;
}

.naccor{
  margin-top:-48%;
  margin-left:75%;
  margin-bottom:2%;
  position:fixed;
}
.naccor svg{
  width:2em;
  height:2em;
  color:white;
}
.naccor button{
  background:none;
  color:white;
  border:none;
}
.accorr{
  margin-top:-4%;
  margin-left:80%;
  margin-bottom:3%;
}
.accorr svg{
  width:2em;
  height:2em;
  color:white;
}
.accorr button{
  background:none;
  color:white;
  border:none;
}

.accord{
  margin-top:-38%;
  margin-left:80%;
  margin-bottom: 3%;;
}
.accord svg{
  width:2em;
  height:2em;
  color:white;
}
.accord button{
  background:none;
  color:white;
  border:none;
}
.accors{
  margin-top:-5%;
  margin-left:80%;
  margin-bottom: 4%;;
}
.accors svg{
  width:2em;
  height:2em;
  color:white;
}
.accors button{
  background:none;
  color:white;
  border:none;
}
.proc{
  width: 100%;
  padding:5%;
}
#porder{
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  width:100%;
  font-size: 40pt;
  text-decoration:none;
  height:6em;
  margin-bottom:1%;

}

#imgs{
  width:8%;

}



.tablemap{
  background-color: #9A4258;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.waitermap{
  background-color: #9A4258;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.tableright{
  margin-left: 5%;
}


.tableleft{
  margin-top:-53%;
  margin-left:55%;
  width:40%;
}

.tableleft .map{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.tableleft .tablenum{
  width: 92%;
  padding:22%;
  background-color:#800020;
  color:white;
  border:1px solid white;
  border-radius:5px;
  font-size: 18pt;
  text-decoration:none;
}

.tableleft .maptab{
  width: 30%;
  margin-top: 18%;
}
.map{
  display: flex;
  flex-direction: row;
  width: 50%;
 
}

.wmap{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left:10%
 
}

.adm{
  /* display: flex;
  flex-direction: row; */
  width: 80%;
}
.maptab{
  width: 30%;
  margin-top: 15%;
}

.mapwait{
  width: 60%;
  margin-top: 30%;
}

.admen{
  /* width: 60%; */
  margin-bottom:8%;
}
#tablenum{
  width: 70%;
  background-color:#800020;
  color:white;
  border:1px solid white;
  border-radius:5px;
  font-size: 15pt;
  text-decoration:none;
  height:5em;
  margin-bottom:5%;
  position:relative;


}

#mapr{
  margin-top:10%;
}


.waitnum{
  width: 80%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  font-size: 18pt;
  text-decoration:none;

}

.menunum{
  width: 100%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:5px;
  font-size: 18pt;
  text-decoration:none;

}


.menu{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  /* display:flex;
  flex-direction: row; */
}



.pmenu{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  /* display:flex;
  flex-direction: row; */
}
.midmenu{
  margin-left:-65%;
  margin-top:4%;
  width:200%;
  
}

.top{
  color:white;
  margin-top:-5%;
  position: fixed;
  margin-left:-6%;
}
#topp{
  color:white;
  margin-top:15%;
  position: fixed;
  margin-left:-2%;
}

.topc{
  color:white;
  margin-top:1%;
  position: fixed;
}
#ri{
  margin-top:50%;
}


.topmenu{
  width: 100%;
  display:flex;
  flex-direction: row;
  margin-top:5%;
}

.menuop{
  width: 48%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
}


.menuopt{
  width: 110%;
  height:8em;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  margin-right:5%;
  padding:10%;
  margin-bottom: 10%;
  margin-top:30%;
}
.menuoptc{
  width:100%;
  height:8em;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  margin-bottom: 5%;
  margin-right:7%;
  padding:1%;
 
}

.menuoptc.c{
  width:100%;
  height:8em;
  background-color:#642634;
  color:white;
  border:1px solid white;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  
 
}
.menuoptcn{
  width:35%;
  height:10em;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
  margin-bottom: 5%;
  margin-right:6%;
  padding:4%;
 
}

.menuoptcn .imgm{
  border-radius: 50%;
  margin-top:-50%;
}
.colm{
  width: 100%;
}

.menuic{
  width:80%;
}
#menui{
  margin-top:32%;
  margin-left:-2%;
  width:160%;
  overflow-x: scroll;
  position: relative;

}
.menu_m{

  width:180%;
  position: relative;
  margin-top:5%;
}

#menuc{
  position: fixed;
  height:60em;
  margin-top:6%;
  width:58%;
  margin-left:1%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
}

#menuci{
  position: fixed;
  height:60em;
  margin-top:18%;
  width:90%;
  margin-left:-1%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
  margin-bottom:15%;

}

#zmen{
  margin-top:6%;
  /* position: fixed; */
  height:50vh;
}
#rci{

  overflow-y: scroll;
  margin-top:5%;

}

/* #menucii{
  position: fixed;
  height:60em;
  margin-top:30%;
  width:90%;
  margin-left:-1%;
  overflow-x: scroll;
  display:flex;
  flex-direction:row;
} */

.imgm{
  border-radius:10px;
  margin-top:5%;
  
}
.met{
  width: 25%;
  padding:25%;
  background-color:#800020;
  color:white;
  border:none;
  border-radius:10px;
  font-size: 12pt;
  text-decoration:none;
  text-align: center;
}
.ordern{
  padding:10%;
  background-color:white;
  margin-left:6%;
  width:28%;
  height:100%;
  position:fixed;
}

.midorder{
  align-items: center;
  justify-content: center;
  width:100%;
  margin-top:2%;
  
}


.midbar{
  align-items: center;
  justify-content: center;
  width:100%;

  
}

.order{
  background-color: #9A4258;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}

.topop .active{
  color:#6E011C;
}

.com{
  text-decoration:none;
  color:#C19BA4;
}

.topop{
  color:#C19BA4;
  margin-left:40%;
}

.topbar{
  background-color:white;
  text-align:center;
  color:#C19BA4;
  padding:1%;

}
.topbar .active{
  background-color:#6E011C;
  color:white;
  border-radius: 5px 0px 0px 5px;
  width:50%;
  margin-left:55%;
}

.topbar .com{
  background-color:#C19BA4;
  color:white;
  border-radius: 5px;
  text-decoration: none;
  border-radius: 5px 0px 0px 5px;
  width:50%;
}
.topbar .sec{
 
  border-radius: 0px 5px 5px 0px;
}
.topbar .active.sec#rs{
 margin-left:-5%;
  
}
.topbar .com#act{
  margin-left:55%;
   
 }

 .topbar #logs{
   color:#800020;
   margin-left:95%;
   margin-top:-3%;
 }

#bhead{
  background-color:#800020;
  color:white;
  
}

.bhead h4{
  margin-top:2%;
  margin-left:2%;
 
}

.bhead h6{
  margin-left:70%;
  margin-top:-12%;
}
.orders{
  margin-left:4%;
  margin-top:2%;
  background-color:white;
  width:25%;
  color:#800020;
  border-radius: 5px;
}

.orders h4{
  font-weight: bold;
}

.orders h6{
  font-size: 10pt;
}

#cmen{
  width:100%;
}
#menit{
  background-color:#800020;
  font-size: 12pt;
  border-radius:8px;
  margin-left:1%;
  margin-right: 1%;
  color:white;
  height:2.5em;
  margin-bottom:1%;
  
}

#menit h6{
  margin-left:79%;
  margin-top:-6%;
}

#menit p{
  margin-left:90%;
  margin-top:-12%;
  font-size:10pt;
}

#menit .imgf{
  border-radius: 8px;
  margin-top:1%;
  margin-left:1%;
  width:20%;
  height: 2em;
}
 #bcard{
  width: 19rem;
  margin-bottom: 2%;
 }
#lnk a{
  text-decoration: none;
}
#barit{
  font-size: 12pt;
  border-radius:5px;
  /* margin-right: 1%; */ 
  color:white;
  width:100%;
  border:none;
  /* margin-top:3%;
  padding:0.5%;
  margin-bottom:10%; */
  color:#800020;
}

#barit h6{
  margin-top:8%;
  font-size:90%;
}
#barit p{
  font-size:10pt;
}

#barit h4{
  margin-top:4%;
  font-size:15pt;
 float: right;
 margin-right:5%;
  
}

#barit .imgf{

  border-radius: 50%;
  margin-top:2%;
  margin-left:2%;
  border: 1px solid #800020;

}
#bcard .card-footer{
  background:white;
}

.optbar{
  margin-left:80%;
  margin-top:8%;
}

.optbar button{
  border:none;
  background:none;
}

#yes {
  background:#098413;
  border:none;
  float:right;
  border-radius:10pr;
}
#tb{
  color:#800020;
}
/* #tbt{
  display:none;
} */
.optbar .no svg{
  fill: #CE1A1A;
}
.totod{
  background-color:#800020;
  color:white;
  border-radius:8px;
  border:none;
  font-size:12pt;
  margin-left:25%;
  margin-top:10%;
}

#nclose{
  background:none;
  
}

.bars{
  margin-left:2%;
  margin-top:2%;
  background-color:white;
  width:18%;
  color:#800020;
  border-radius:10px;

}
#bare{
  margin-top:3%;
  margin-left: 20%;
}

#rbare #bcard{
  width:70%;
}
#cashier{
  margin-top:5%;
 
}
#cashier #backh{
  width:30%;
  height:3em;
  margin-left:-1%;

}
#activ{
  background:#550015;
  border-radius: 5px 0px 0px 5px;
  text-align:center;
}
#activ a{
  text-decoration: none;
  color:white;
}

#activs{
  background:#C3C3C3;
  border-radius: 5px 0px 0px 5px;
  text-align:center;
}
#activs a{
  text-decoration: none;
  color:white;
}
#complit{
  background:#C3C3C3;
  border-radius: 0px 5px 5px 0px;
  text-align:center;
}
#complit a{
  text-decoration: none;
  color:white;
}
#complits{
  background:#550015;
  border-radius: 0px 5px 5px 0px;
  text-align:center;
  color:white;
}
#complits a{
  text-decoration: none;
 
}
#opct{
  margin-left: -0.2%;
  margin-top:2%;
  margin-bottom:2%;
  width:100%;
}
#opc #order{
  width:100%;
  background-color:white;
  border:1px solid #550015;
  color:#550015;
}
#opc #orderi{
  float:left;
margin-left:-5%;
}
#opc #orderd{
  float:right;
  margin-left:45%;
}
#rbare button{
  background-color:#098413;
  margin-left: 40%;
  color: white;
  border-radius:5px;
  border:none;
  width:30%;
  height:4em;

}
#bar{
  margin-top:3%;
}

#rbar{
  margin-bottom:2%;
  
}


.optbarc{
  margin-left:80%;
  margin-top:8%;
}

.optbarc button{
  border:none;
  background:none;
  
}

.optbarc .yes svg{
  fill: #069337;
}

#details{
  text-align: center;
  margin-bottom:1%;
}

#tableod{
  width:100%;
  margin-left: -0.5%;
}
#tableod table{
  border:none;
  height:4em;
  overflow-y: scroll;
}

#tableod td{
  color:#800020;
}


#odc input{
  border:1px solid #800020;
  width:90%;
  margin-left:2%;
  border-radius: 5px;
  margin-bottom:2%;
}
#odc .card-header,#odc .card-footer{
  background:none;
  color:#800020;
}
#co{
  margin-bottom:2%;
  
}

#cop{
  overflow-y: scroll;
  height:22em;
}
#odcf button{
  width:80%;
  height:3em;
  border:none;
  margin-right: 10%;
  margin-top:1%;
}
#odcf #b1{
  background:#800020;
}
#odcf #b2{
  background:orange;
}
#odcf #b3{
  background:#098413;
}
.pstore{
  width: 100%;
  padding:5%;
  background: none;
}

.pstore a{
  text-decoration:none;
}
.pstall{
  color:#800020;
  border:none;
  border-radius:5px;
  width:100%;
  font-size: 45pt;
  padding:25%;
  text-decoration:none;
  background: none;
}

#cashod
{
  margin-left: 35%;
}

#cashod form{
  margin-left: 35%;
}
#cashod  .card{
  width:120%;
  height:51.2rem;
  
}
#cashod  .card-header{
  background:none;
  color:#550015;
  
}

#cashod  .card-footer{
  background:none;
  color:#550015;
  
}

#cashod  .card-header select{
  background:#550015;
  color:white;
  border:none;
  border-radius:5px;
  
}

#cashod  .card-footer select{
  background:#550015;
  color:white;
  border:none;
  border-radius:5px;
  
}

#cashod  .card-footer textarea{
  color:#550015;
  border:1px solid #550015;
  border-radius:5px;
  
}

#cashod  .card-footer button{
  color:white;
  background:#550015;
  border-radius:5px;
  border:none;
  width:50%;
  height:4rem;
  margin-left:25% ;
  
}
#cashod  .card-header #dn{
  background:none;
  color:#550015;
  border:none;
  border-radius:5px;
  width:90%;
  font-weight: bold;
  font-size:30pt;
  
}
#cashod #order{
  width:180%;
  background-color: #550015;
  border-radius: 8px;
  margin-right:1%;
  border:none;
  height:4em;
  margin-bottom:5%;
}
#cashod [data-quantity]{
  max-width:11rem;
}
#cashod [data-quantity] input{
  background: none;
  color:white;
  width:4rem;
}
/* #cashod .quantity-picker{
  width:100%;
  border:none;
}
#cashod .quantity-modifier{
  width:1.6rem;
  border-radius: 50%;
  height:1.5rem;
}
#cashod .quantity-display{
  width:1rem;
  border:none;
  border-radius:10px;
  background:none;
  

} */
#cashod #order p{
  font-size:10pt;
  margin-left: -89%;
  margin-top: -2%;
}
#cashod #order h6{
  margin-top: 4%;
}

#cashod #trash{
 background:none;
 border:none;
 color:#CC5F51;
 margin-left:80%;
}

#cashod #trash svg{
  width:1.5em;
  height:1.5em;
}

#newnab #nab{
  width:59.5%;
  margin-left:0%;
}


#newnab #nabc{
  width:100%;
  margin-left:0%;
}

.boxb{
  cursor:move;
}
#orderdine{
  margin-top: -15.3%;
  margin-left:53%;
  width:45%;
 position:fixed;
}
/* 
#orderdine #cardine{
 
} */

#newnab #menct{
  margin-left:-6%;
  margin-top:-15%;
}

#dragb{
  margin-left:-100%;
  margin-top:-50%;
}

#newnab #menucat{
  margin-left:-2%;
  width:70%;
  position:fixed;

}

#newnab #menucat #scrcat #catme{
  margin-top:-33%;
  margin-left:1%;
}
#newnab #menucat #scrcat #catmec{
  margin-top:-33%;
  margin-left:1%;
}


#newnab #menct #mens{
  margin-top:2%;
  position: absolute;
}

#newnab #menct #fodc{
  overflow: scroll;
  width:70%;
  height:30em;

}

#newnab #menct #fodc #foodc #fod{
  margin-left:1%;
}
#newnab #catmec{
  margin-left:1%;
}
#formdine{
  background:white;
  /* width:100%; */
  height:35em;
  margin-left:1%;

}
#formdine #dn{
  background:none;
  color:#550015;
  border:none;
  border-radius:5px;
  width:90%;
  font-weight: bold;
  font-size:30pt;
   
    
}

#formdine select{
  background:#550015;
  color:white;
  border:none;
  border-radius:5px;
}
#formdine h3{
  color:#550015;
}

#formdine #food{
  margin-top:3%;
  overflow-y: scroll;
  height:12em;

}
#formdine #food .fod{
  width:75%;
  background-color: #550015;
  border-radius: 10px;
  margin-right:2%;
  border:none;
  /* height:4em; */
  margin-bottom:5%;
  color:white;
  margin-left:2%;
}

#formdine #food .fodp{
  font-size:15pt;
  float:right;
}
#formdine #food .fodh{
  /* margin-top:10%; */
  font-size:15pt;
  float:left;
}

#formdine #food .fodq{
  margin-top:-5%;
  font-size:15pt;
}
#formdine .trash{
  background:none;
  border:none;
  color:#CC5F51;
  width:15%;
  font-size: 15pt;
  margin-top:-5%;
  /* margin-left:80%; */
}
#formdine .trashy{
  font-size:12pt;
}
#formdine #trash svg{
  width:1.5em;
  height:1.5em;
}
#formdine #dinefoot{
  position: fixed;
  margin-top:0.5%;
  margin-left:0.5%;
}


#formdine #dinefoot select{
  width:38%;
  margin-bottom:1%;
}

#formdine #dinefoot #amt,#amt{
  margin-left:70%;
}
#formdine #dinefoot #amts,#amts{
  margin-left:69%;
}
#formdine #dinefoot input{
  width:50%;
  font-size:12pt;
}

#formdine #dinefoot button{
  background:#550015;
  height:4em;
  border:none;
  margin-top:1%;
}
#catme{
  background:white;
  border:1px solid #550015;
  color:#550015;
  border-radius:10px;
  margin-top:80%;
}

#catmec{
  background:#550015;
  border:1px solid #550015;
  color:white;
  border-radius:10px;
  margin-top:80%;
}

#fodc #fod{
  border-radius:5px;
  background:#550015;
  border:none;
  margin-bottom: 5%;
  width:11em;
  margin-right:1%;
}
#fodc img{
  width:5em;
  height:4em;
  border-radius:50%;
}

#foodc{
  margin-right: -2%;
}
.pstall svg{
  width:3em;
  height:3em;

}


.pstallc{
  color:#800020;
  border:none;
  background: none;
}




.pstall h5{
  color:#800020;
  font-size:20pt;
  text-align:center;
  margin-left:8%;
}

.itable{
  width:80%;
}
.itables{
  width:100%;
  background-color: white;
  font-size:16pt;
}
.itabless{
  width:100%;
  font-size:16pt;
}
.itabless td{
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #800020;
}
th{
  color: white;
  background-color:#800020;
}


.itables .b1{
  background:#FFDA77;
  color:white;
  border:none;
  border-radius:8px;
  
}
/* 
.canvasjs-chart-canvas{
  margin-left:-2%;

} */

#tableod .tod th{
  background-color: white;
  color:#800020;

}
#mods #order{
  background-color: #800020;
  color:white;
  margin-bottom:1%;
}
#mods .modal-header{
  background-color:#800020;
  color:white;
}
#mods .modal-header .close span{
  color:white;
}
#mods #fut #val{
 margin-left:50%;
}
.b1{
  background:orange;
  color:white;
  border:none;
  border-radius:5px;
  margin-left:2%;
  width:45%;
}
.ab1{
  text-decoration: none;
  margin-left:1%;
}
.b1 a{
  color:white;
  text-decoration:none;
}
.b2 a{
  color:white;
  text-decoration:none;
}
#backh{
  width:10%;
  background-color:#550015;
  border:none;
  margin-bottom: 2%;
}
#searchb{
  background-color:#550015;
  border:none;
  width:40%;

}
#forminv input{
  width:100%;
}
#forminv{
  margin-left:-1%;
}

#forminv .search{
  background:#800020;
  color:white;
  border:none;
  border-radius:5px;
  margin-top: 2%;
  font-size:15pt;

}
.search{
  background:#800020;
  color:white;
  border:none;
  border-radius:5px;
  margin-top: 2%;
  font-size:15pt;

}
.download{
  background:#800020;
  color:white;
  border:none;
  border-radius:5px;
  margin-top: 2%;
  font-size:12pt;
  width:20%;
  margin-bottom: 2%;
  margin-left: -1%;

}
#forminv select{
  margin-left:1.4%;
  border-color: rgb(212, 211, 211);
  border-radius: 4px;
  width:98%;
}

#invtt #repo th{
  color:black;
}
#invtt .card .card-title{
  color:black;
  margin-top: 2%;
}


#cat{
  height: 40rem;
  overflow-y:scroll;

}
#cat .card{
  margin-top:2%;


}

#addnew{
  width:30%;
  padding:1%;
  background-color:#800020;
  border:none;
  margin-bottom: 2%;
}
.itables .b2{
  background:#098413;
  color:white;
  border:none;
  border-radius:8px;
  margin-left:2%;
}

.b2{
  background:#098413;
  color:white;
  border:none;
  border-radius:5px;

  width:45%;
}

.b3{
  background:grey;
  color:white;
  border:none;
  border-radius:5px;

  width:45%;
}
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  
}

table {
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12pt;
}

th{
  font-size: 15pt;
}



form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}


.optprod{
  margin-left: -52%;
  margin-bottom: 2%;
  font-size:18pt;
}

.optprod button{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
}

.noptprod{
  margin-top:25%;
  font-size:18pt;

}
#ret{
  margin-left:15%;
}




.noptprod button{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
}
.optprods{
  margin-left: -65%;
  margin-bottom: 2%;
  font-size:18pt;
}

.optprods button{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
}

.o1{
  background-color:white;
  border:1px solid #800020;
  border-radius:10px;
  color: #800020;
  margin-top:5%;
  margin-left:10%;

}
#mt{
  margin-left:10%;
}
.o1.ac{
  background-color:#800020;
  border:1px solid white;
  color: white;
}

#mtt .o1{
  margin-top:-5%;
}
#mtt{
  margin-left:20%;
}




#menutab .dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  padding: 4px;
  color:#800020;
  background-color:white;
}



.dataTables_length label{
  color:white;
}

.dataTables_wrapper .dataTables_info {
  color:white;
}




#menutab .dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
  color:#6E011C;

}


#menutab .dataTables_wrapper .dataTables_paginate .paginate_button{
  color:#6E011C;
}

#menutab .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  color:white;
}


#menutab .dataTables_wrapper .dataTables_paginate .paginate_button{
  color:white;
}
.searchbar{
  border: 2px solid #800020;
  color: #800020;
  border-radius:5px;
  margin-left:67%;

}
.searchbars{
  border: 2px solid #800020;
  color: #800020;
  border-radius:5px;
  margin-left:67%;
  margin-top:5%;

}
#menur{
  margin-left:18%;

}
#menurr{
  margin-left:18%;
}
.pmenutab{
  width:90%;
}



#menutab{
  width:90%;
  overflow-y:scroll;
}

.menutab{
  margin-top:5%;
}

#menutab .dataTable .no-footer{
  width:90%;
  border-radius: 5%;
}

#menutab .dataTables_wrapper .dataTables_info{
  color:white;
}

#menutab .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background:#800020;
  color:white;
  border:none;
}

#menutab .dataTables_wrapper .dataTables_paginate .paginate_button .disabled{
  color:white;
}

.addmenu{
  border: 2px solid #800020;
  border-radius: 5px;
  background-color:white;
  color:#800020;
  margin-top:1%;

}

.addm{
  background: white;
  border:2px solid #800020;
  border-radius: 5px;
  width:70%;
  margin-top:3%;
  color:#800020;
  padding:8%;
}
.addm h3{
  text-align:center;
  margin-top:-10%;
}

.addm input,.addm select{
  border:1px solid #800020;
  border-radius: 5px;
  width:95%;
  color:#800020;
  margin-bottom:4%;

}
.addm form{
  margin-top:5%;
  width:110%;
  margin-left:-5%;
  font-size:18pt;
}

.addm button{
  width:35%;
  margin-top:5%;
  text-align:center;
  margin-left:32%;
  border:1px solid #800020;
  border-radius: 5px;
  background-color: #800020;
  color: white;
  padding:1%;
}

.back{
  margin-left:-15%;

}
.back button{
  color:#800020;
  background-color:white;
  border:2px solid #800020;
  border-radius: 5px;
  margin-left:-410%;
}



#pback {
  color:#800020;
  background-color:white;
  border:2px solid #800020;
  border-radius: 5px;
  margin-left:-20%;
  margin-top:5%;

}

.addm{
  background: white;
  border:2px solid #800020;
  border-radius: 5px;
  width:70%;
  margin-top:3%;
  color:#800020;
  padding:8%;
}
.addm h3{
  text-align:center;
  margin-top:-10%;
}

.addm input,.addm select{
  border:1px solid #800020;
  border-radius: 5px;
  width:95%;
  color:#800020;
  margin-bottom:4%;

}
.addm form{
  margin-top:5%;
  width:110%;
  margin-left:-5%;
  font-size:18pt;
}

.addm button{
  width:35%;
  margin-top:5%;
  text-align:center;
  margin-left:32%;
  border:1px solid #800020;
  border-radius: 5px;
  background-color: #800020;
  color: white;
  padding:1%;
}



.addi{
  background: white;
  border:2px solid #800020;
  border-radius: 5px;
  width:70%;
  margin-top:3%;
  color:#800020;
  padding:6%;
}

.b4.Active {
  background:rgb(36, 112, 36);
  border-radius: 5px;
  border:none;
  color:white;
}
.b4.Inactive {
  background:crimson;
  border-radius: 5px;
  border:none;
  color:white;
}

#adds button{
  width:90%;
}

#payo{
  /* float:right; */
  margin-left:-25%;

}
#cash{
  float:right;
}
.addi h3{
  text-align:center;
  margin-top:-8%;
}
.addi h5{
  text-align:center;
}

.addi input,.addi select, .addi textarea{
  border:1px solid #800020;
  border-radius: 5px;
  width:95%;
  color:#800020;
  margin-bottom:4%;

}
.addi #stock{

  width:98%;

}
.menuitem .badge{
  background:#800020;
  border-radius:50%;
}

.menuitem.c .badge{
  background:#800020;
  border-radius:50%;
}
#salt{
  background: orange;
  border-radius: 5px;
  color:white;
  font-size:18pt;
}
.addi form{
  margin-top:5%;
  width:110%;
  margin-left:-5%;
  font-size:18pt;
}

#chead{
  background: none;
}
.addi .btn-box{
  margin-top:20%;
}
.addi button{
  width:35%;
  margin-top:5%;
  text-align:center;
  margin-left:32%;
  border:1px solid #800020;
  border-radius: 5px;
  background-color: #800020;
  color: white;
  padding:1%;
}

#invtt{
  width:120%;
}
#invtr{
  margin-left: 12%;
  width:100%;
}

.addi.c{
  width:70%;
  padding: 5%;
}

.addi.c.p{
  margin-left:10%
}
.addi.c h3{
  margin-top: 2%;
}

.menuitem .al{
  background:#800020;
  border-radius: 50%;
  width: 12%;
  margin-top: -40%;
  margin-left:50%;
}
.addi img{
  border-radius: 60%;
  width:5em;
  height:5em;
  text-align:center;
  margin-left:40%;
  border:1px solid #800020;

}

.addm.c{
  width:50%;
  margin-top:2%;
}
.addm.c h3{
  margin-top:2%;
}
.addm.c .table th{
  color:#800020;
}

#dinv{
  width:70%;
  background-color:#800020;
  border:none;
}

#dinvs{
  width:50%;
  background-color:#098413;
  border:none;
  margin-left: 20%;
  height:4em;
}
.addm img{
  border-radius: 60%;
  width:5em;
  height:5em;
  text-align:center;
  margin-left:39%;
  border:1px solid #800020;
  margin-top:-8%;
}

.accorr.c{
  margin-top:1%;
}
.accor.c{
  margin-top:1%;
}

.menus{
  margin-left:-47%;
}
.menus img{
  border-radius: 25%;
  float:left;
  width:25%;
  height:95%;
  margin-top:-2%;
  margin-left:-6%;
}

.menus button{
  width:77%;
  height:2.8em;
  margin-left:27.5%;
}

.menus #product{
  margin-left:-217%;
}

.menus #number{
  margin-left:90%;
  margin-top:-11%;
}
.menus #price{
  margin-left:75%;

}

.dt #time{
 margin-left:88%;
}

.dt #date{
  margin-left:-20%;
}

.dt{
  margin-top:-8%;
}

.head{
  background-color:#800020;
  color:white;
  width:50%;
  margin-bottom:-3%;
  border-radius:5px;
}


.menus #paym,.menus input{
  color:#800020;
  margin-left:-89%;
  margin-top:2%;
}


.notifs{
  background-color: white;
  border-radius: 10px;
  width: 40%;

}
#nt{
  margin-top:5%;
  margin-left:5%;
}

#daten{
  float:right;
  color:#800020;
  
}

#salert{
  width:90%;
  margin-bottom:2%;
  font-size:12pt;
  height:7em;
}

#salert .card-header button{
  background: none;
  border: none;

}
#salert .card-header button svg{
  color:#800020;

}

#salert .card-header{
  border: none;
  color:orange
}
#anotif{
  margin-left:-85%;
}

.snotif button{
  background: none;
  border: none;

}

#tnotif{
  background-color: rgb(179, 120, 11);
  border-radius: 5px;
  margin-top:1%;
  color:white;
  width:30%;
}


#dnotif{
  margin-left: 55%;
  margin-top:1%;
}


#totalb {
  background:#800020;
  border-radius:8px;
  border:none;
  color:white;
  font-weight:bold;
  font-size: 15pt;
  width:100%;

}

.pmode{
  margin-top:10%;
}


.pmode label{
  font-size: 12pt;
}

.customerdet{
  margin-top:-200%;
  text-align: center;
  margin-left: -110%;
  color:#800020;
}

#dpe{
  widows: 250%;
}

.customerdet #order{
  margin-left:-10%;
}
.customerdet #waiter, .customerdet #tb,.customerdet #num {
  margin-top:-5%;
  margin-left:8.5%;
}

.pmode{
  /* margin-left:%; */
  color:#800020;
  width:50%;
  position:fixed;

}

.menuitem{
  width:105%;
}
.menuitem.c button{
  background:#800020;
  border-radius:8px;
  border:none;
  color:white;
  margin-left:20%;
  width:55%;
  text-align:center;

}
#invt{
  justify-content:center;
  align-items:center;
  width:55%;
  margin-top:2%;
  min-height: 100vh;
  color:white;
  margin-left:5%;
  
}
#invtb{
 border:none;
 margin-top:2%;
}
#invtb thead{
  background-color: #800020;
  }

  #invtb tbody{
    background-color:white;
  }
.menuitem button{
  background:none;
  border-radius:8px;
  border:none;
  color:#BEBBBB;
  margin-left:20%;
  width:50%;
  margin-bottom:10%;
  margin-top:30%;
}


#pcon{
  width:20%;
  margin-top:30%;
  margin-left:-12%;
}

#pay{
width:155%;
}

.sb{
  margin-left: -25%;
  border-radius:8px;
  
}
.mainsb{
  margin-left: -45%;
  border-radius:8px;
  width:50%;
  border:none;
  
}
.maintop{
  margin-left:-1%;
  position: fixed;
  margin-bottom:2%
}

#menuselect{
  margin-left:-2%;
  margin-top:40%;
 
}
.select{
  margin-left:-2%;

}
#select{
  margin-top:16%;
  position: fixed;
}

#menuoption{
  width:9rem;
  background:#800020;
  border-radius:10px;
  margin-right:2%;
}

#menuoptionac{
  width:9rem;
  background:#642634;
  border-radius:10px;
  border:1px solid white;
  margin-right:2%;
}
#menuoptionac img{
  border-radius:10px;
  margin-top:2%;
}
#menuoption img{
  border-radius:10px;
  margin-top:2%;
}

#orderform{
  margin-left:10%;
  background:white;
  width:32%;
  height: 100vh;
  position: fixed;

}

#orderform .card-title,#orderform .card-subtitle{
  text-align: center;
  color:#800020;
}
#cancel{
  float: right;
  font-size: 12pt;
  text-decoration: none;
  color:#800020;
}

#aler{
  width:50%;
  margin-left: 11%;
}
.orderm{

 height:15em;
 position: fixed;
 overflow-y: scroll;
}

#added{
  color: #800020;
  text-decoration: none;
}
.ords{
  margin-bottom:1%;
}
.ords #prod{
  background-color: #800020;
  border-radius:5px;
  border:none;
  width:28%;
  color:white;
  margin-left:0.2%;
}

#prod h6{
  margin-top:10%;

}

.ords input{
  width:12%;
  font-size:12pt;

}


#inf{
  margin-left:22%;
  margin-top:-8%;

}
#inf button{
  color:white;
}

.ords .imgf{
  border-radius: 8px;
  margin-left:-2%;
border:1px solid #800020;
margin-top:2%;

}

/* #orin{
  margin-left:70%;
} */

#mname{
  margin-left:-55%;
  font-size: 12pt;
  margin-top:2%;
  /* text-align:justify; */

}
#mp{
  margin-left:-10%;
}

.ords #del{
  background: none;
  border:none;
  float: right;
  color:white;

 
}

#orderform .card-footer{
  color:#800020;
  background: none;
}

#date{
  margin-left:-150%;
}

#pd{
  margin-left:68%;
  margin-top:-5%;
}


#roptp{
  margin-top:-5%;
}
.optp{
  background-color:white;
  color:#800020;
  padding: 1%;

  
}
.optp h5{
  margin-top:12%;
  margin-left:-27%;
}

.optp h1{
  margin-top:5%;
}

#cash{
  margin-left:50%;
  margin-top:0.2%;
}
#cash img{
  border:2px solid #800020;
  border-radius: 50%;
}
#cash h4{
  margin-left: 25%;
  margin-top:-19%;

}

#menuit{
  overflow-y: scroll;
}


.logotext a{
  columns: #800020;
}


#value{
  text-decoration: none;
  margin-top: -20%;
}

#menuname{
  margin-top:2%;
  font-size:10pt;

}

.rorder{
  display:flex;
  flex-direction:row;

}

#ror{
  width:100%;
  overflow-y: scroll;
  margin-left:8%;
}
#cmen .card-header{
  color:#800020;
  background: none;
}
#cmen .btn-primary{
  background-color: #800020;
  border:none;
  width:100%;

}

#mainmenu{
  margin-left: 15%;
  /* position: fixed; */
  margin-top:2%;
  color:white;
}

.mainmenu{
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}